.header {
    position: relative;

    &__wrap {
        padding: 50px 0;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #ffffff;
    }
}

.cart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #000000;
        border-radius: 20px;

        &:hover {
            background-color: #000000;
            color: #ffffff;
            transition: background-color 300ms;
        }
    }

    &__wrap {
        background-color: #ffffff;
        border-radius: 0 0 50px 50px;
        text-align: center;
        padding: 20px 0;
    }

    &__title {
        margin: 0;
    }

    &-list {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
        grid-gap: 30px;
        padding: 20px 20px 30px;
    }

    &-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        width: 300px;
        padding: 20px 10px;
        box-shadow: 0 0 10px 0 #000000;
        border-radius: 20px;
        background-color: #d9d9d9;
        position: relative;

        &__title {
            font-size: 24px;
        }

        &__price {
            font-size: 20px;
            font-weight: 600;
        }

        &__quantity {
            font-size: 20px;
            font-weight: 600;
        }

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            border: 1px solid #000000;
            border-radius: 15px;
            position: absolute;
            top: -10px;
            right: -10px;

            &:hover {
                background-color: #000000;
                color: #ffffff;
                transition: background-color 300ms;
            }
        }
    }

    &__total {
        font-size: 24px;
        font-weight: 600;
        display: flex;
        justify-content: flex-end;
        margin-right: 210px;

        & > span {
            padding: 5px 20px;
        }
    }

    &--is-closed {
        display: none;
    }

    &--is-shown {
        width: 40px;
    }
}